/* ==UserStyle==
@name           PornTF
@namespace      github.com/openstyles/stylus
@version        1.2.10
@description    Твой любимый порносайт :^)
@author         Neko Natum
==/UserStyle== */

@-moz-document domain("dtf.ru") {
body, .search__field, .block-incut, .content-image--with_background, .main_menu__write-button, .quiz, .comments_pseudo_form__button, .thesis__attach_video, .thesis__upload_file, .ui-button, .miniEditor__attach, .etc_control__list, .etc_control__list:before, .bubble, .bubble[arrow-alignment^="top"]:before, .ui_sub_menu, .ui_sub_menu--left-arrow:before, .vote .vote__value:hover .vote__users--not-empty:before, .vote .vote__value:hover .vote__users--not-empty:before, .comments_updates, .herzen__command_list, .vacancies_widget__new, .notify-new-items-label, .chat-messages__day span, .m-floating__header:hover, .etc-controls__dropdown, .etc-controls__dropdown:before, .page--plus .plus-features, .ui_form input[type=email], .ui_form input[type=name], .ui_form input[type=password], .ui_form input[type=text], .ui_form select, .ui_form textarea, .input-suggestion input, .list-editable__item__remove, .ui_select, .ui_select select, .popup .popup__content .line, .floating_screen_film--fixed, .ui_toggle--on .ui_toggle__handle, .gl__container, .feed__horizon, .sidebar, .content-header-label, .form2__inline-editor, .item--selected .item__badge, .item--focused .item__badge, .item:hover .item__badge, .cdx-plugin-settings__item--active, .block-number, .item, .chat-messages__unread-label span, .chat-messages__unread-label, .block-special-button a, .content__write-suggestion, .content__thanks, .bubble[arrow-alignment^="bottom"]:before, .thesis__attach_something, .attacher__form:before, .attacher__form, .v-form-input input, .donate-display, .v-form-card__front, .v-form-card__back, .v-create-button, .v-create-button__dropdown, .tg-header__details-item, .tg-header__type-switcher, .tg-chart--line .tg-grid__counter, .tg-tooltip, .ui-rounded-button__indicator, .v-button, .v-tabs-navigation, .ui-input, .user, .b--submit, .add-members__icon, .v-split-button, .v-split-button__dropdown, .sidebar-tree-list__show-more-button, .special-career-week, .subsite-details-mobile-navbar, .subsite-details
    {
    background: #000 !important;
}
.main_menu, .live_head, .comments__item__space--new, .comments__item__space--highlighted, .comments__item__space--pinned, .table__row--me, .vacancies_widget__new:hover, .etc-controls__dropdownItem:hover, .popup__container__window--styled .popup__container__window__tpl, .editor__header, .notify__item, .andropov_preview, .comments__link_to_all, .contentFiltersDropdown .dropdown__input, .dropdown__found__item, .dropdown__found__list, .inline-dropdown, .vacancy_footer, .header, .ce-settings, .gallery-image--with-background .gallery-image__media, .tab__content, .emoji-picker__panel, .emoji-picker__tabs, .emoji-picker__panel-list-section-name, .emoji-picker__panel::after, .daily-promo-form__center form, .input-select__options-item:hover, .input-select__options-item--highlighted, .notification, .auth-form, .daily-promo-unit-label__inner, .v-island__header:after, .v-popup-window__content, .site-header, .reposters_list
    {
    background: #1b1b1b !important;
}
.sidebar__tree-list__item:hover, .sidebar__tree-list__item--active, /*.sidebar, .live,*/ .layout--bg, .search--active .search__input, .search--filled .search__input, .search-dropdown, .messenger-panel__down, .head-notifies__panel, .thesis__attach_video:hover, .thesis__upload_file:hover, .new_entries, .vacancies_widget, .m-floating, .messenger, .ce-toolbar__tools, .widget_wrapper--type-blue, .push_offer__content, .push_offer__button, .audio_player__control__panel, .floating_player, .adviser__container, .adviser__container::after, .videoStratum, .daily-promo-unit, .island--blogs_entries, .captcha_wall__box, .ui_modal_window, .ui-limited-input::after, .cdx-plugin-settings__item:hover, .ce-settings__item:hover, .media-tool-settings__item--active, .media-tool-settings__item:hover, .code-tool, .subsite__cover__add__button, .input-select__options, .yap-inventory__block-bd, .yap-inventory__block-container, .entry_stub, .advert_footer, .thesis__attach_something:hover, .v-form__legal:before, .l-island-bg, .chat-info__bottom
    {
    background: #101010 !important;
}
.quiz__item__progressbar, .comments_pseudo_form, .comments_form, .ui-button:hover, .miniEditor__attach:hover, .etc_control__item:hover, .dropdown_list__item--selected, .dropdown_list__item:hover, .ui_sub_menu__item:hover, .vote .vote__users, .vote .vote__value:hover .vote__users--not-empty:before, .hljs, .herzen__command_list__item--selected, .herzen__command_list__item:hover, .ce-toolbar__tools-item--selected, .ce-toolbar__tools-item:hover, .shares--desktop .shares__close, .shares--desktop .shares__open, .avatar-grid__item, .block-quote--centered, .block-quote--default, .andropov_telegram, .andropov_tweet, .updown:after, .content-header-note, .block-warning, .reposters_list:before, .v-list-tab--active, .v-list-tab:hover
    {
    background: #1c1c1c !important;
}
.sidebar__tree-list__item__badge, .u-notification--blue .u-notification__avatar-icon, .quiz__item__progressbar__runner, .ui-tab--active .ui-tab__label:after, .dropdown_list__item__badge, .comments_updates__counter, .new_entries__counter, .channel-item--current .channel-item__online, .ui-tab__counter--notify, .main_progressbar__runner, .plus-badge, .ui_toggle--on .ui_toggle__zone, .ui_toggle__handle, .audio_player__control__slider__bar, .ui_preloader .ui_preloader__dot, .item--selected, .item--focused, .item:hover, .item__badge, .cdx-inline-toolbar, .tab--active .tab__label:after, .channel-item__unread-count, .comments__item__self--author .comments__item__user__name .user_name, .vue-slider-dot-handle, .article-75846__table th, .ad-contacts__user:after, .ui_form input[type=submit]:hover, .yap-inventory__block-bd > div, .yap-inventory__hint, .yap-inventory__toggle::before, .yap-inventory__toggle::after, .v-create-button__select::before, .site-header-progressbar__runner, .reposters_list__item:after, .ui-rounded-button--active .ui-rounded-button__link, .ui-rounded-button:hover .ui-rounded-button__link, .v-tab--active .v-tab__label::after, .v-button:hover, .aside-placeholder__picture, .aside-placeholder__line1, .aside-placeholder__line2, .sidebar-tree-list-item__child-item--with-badge::after
    {
    background: #f90 !important;
}
.channel-item:hover, .channel-item--focused, .u-notification--hover:hover, .u-notification--unread, .content mark, .profile_comment_favorite__text mark, .profile_comment_self__text mark, .u-notification--unread.u-notification--hover:hover, .channel-item--current, .ui-checkbox--disabled, .audio_player__control__slider__bar, .audio_player__control__slider__bg, .upload-button, .vue-slider-rail, .creation_button:hover, .v-create-button:hover, .b--submit:hover, .ui-filters--responsive .ui-filters__inner, .sidebar-tree-list-item__child-item:hover, .sidebar-tree-list-item:hover
    {
    background: #ff99001f !important;
}
.upload-button:hover, .vue-slider-process, .ce-settings__remove-block-button--confirm, .sidebar-tree-list-item--active{
    background: #ff990040 !important;
}
.vote .vote__users__item:before, .ce-toolbar__tools-item--selected:before, .ce-toolbar__tools-item:hover:before, .subsites_catalog_item:before, .ui_toggle__zone, .comments__item__more--root, .comments__item__more--root--5, .ui-button--5{
    background: #222;
}
.live,.chat-form__textarea, .aside-search input, .editor__title, .form-text-input, .input, .ce-toolbar__tools-search-input, .cdx-input, html body .ce-redactor a.andropov_link, .subsites_catalog__search__bar, .email_subscribe_vue__form input, .email_subscribe_vue__form, .v-ui-checkbox input, .v-ui-checkbox, .show_vacancy_contact, .show_vacancy_contact--ani-pulse:after, .comments__item__expand, .comments__item__more--inner,.rolled-up-text__label, .daily-promo-unit__button, .attachButton, .ui-limited-input textarea, .ce-settings__anchor-input, .search input, .code-input, .audio-tool-cover, .audio-tool-title, .audio-tool-uploader, .form-text-input, .quiz-tool-input, .block-code, .b-form__unit_preview, .form-text-input, .input-text input, .form-text-input, .input-select, .ui_form input[type="submit"], .yap-button, .authorCard, .v-tabs--overflown::before, .v-tabs--overflown::after, .chat-info__search, .ui-filters--responsive{
    background: transparent !important;
}
.cdx-inline-toolbar__button:hover, .cdx-inline-toolbar__link-remover:hover, .cdx-inline-toolbar__link-back:hover, .creation_button{
    background: #0000004d !important;
}

h1,h2,h3,h4,h5,h6, .andropov_link, .list-editable__item, .editor__title, html body .ce-redactor a.andropov_link, .email_subscribe_vue__form input, .content-header-note, .feed__horizon, .subsite_card_short_with_content__content, .subsite_card_short_with_content__content:hover, .attachButton:hover, .upload-button, .hljs-comment, .hljs-meta, .thesis__attach_something, .tg-legend__item--enabled, .ui-input, .chat-info__search, .new-entries-horizon{
    color: white !important;
}
body, .content__thanks a span, .live__item--comment .live__item__content .live__item__text, .main_menu__item, .content mark, .profile_comment_favorite__text mark, .profile_comment_self__text mark, .sidebar__tree-list__item__favourite, .miniEditor__attach, .etc_control__item, .widget_comment__content, .vacancies_widget__item__city, .vacancies_widget__item__company, .vacancies_widget__item__salary, .chat-form__textarea, .chat-messages__day span, .aside-search input, .subsite_settings__section__title svg, .ui_select select, .editor__middle-form-selectors, .editor__date, .editor__select, .form-text-input, .input, .ce-toolbar__tools-search-input, .cdx-input, .subsites_catalog__search__bar, .dropdown__input, .audio_player__control svg, .audio_player__control__rate[data-current="0"], .audio_player__control__volume, .floating_player__close, .with-icon-gray, .audio_player__control--download, .search--active .search__input, .search--filled .search__input, .island--blogs_entries .blogs_entries__desc a, .ui_modal_window__title, .ui_modal_window__content, .item, .ui-limited-input textarea, .ce-settings, .ce-settings__anchor-input, .search inp, .code-input, .audio-tool-title, .audio-tool-uploader, .hljs-built_in, .block-code, .form-text-input, .quiz-tool-input, .messenger-panel__down, .block-code, .form-text-input, .input-text input, .main_menu__auth__login, .site-header, .head-notifies__panel, .comments__body, .l-entry, .live__toggle, .v-header__stat .icon, .b, .search__button{
    color: #cacaca !important;
}
a, .live__item--comment .live__item__user__name, .live__item--comment .live__item__user:hover .live__item__user__name, .t-link-hovered, .main_menu__write-button, .head-notifies--showed .head-notifies__toggler .icon, .head-notifies__toggler:hover .icon, .andropov_telegram__text__more, .andropov_tweet__text__more, .subsites_tune__select-all, .t-link-inline, .u-notification__content__button, .u-notification__content__button:hover, #notify .notify__item p a:hover, .advice__caption a:hover, .advice__list a:hover, .andropov_telegram__text a:hover, .andropov_tweet__text a:hover, .block-warning a:hover, .comments__item__text a:hover, .company_description a:hover, .content figcaption a:hover, .content h2 a:hover, .content h3 a:hover, .content h4 a:hover, .content ol a:hover, .content p a:hover, .content ul a:hover, .form2__field--advanced_list .advanced_list__list .adv_list_item a:hover, .island__container--with_links a:hover, .island__info a:hover, .island__list__link:hover, .page--error .error__message a:hover, .profile_comment_favorite__text a:hover, .profile_comment_self__text a:hover, .sitemap a:hover, .subsite_about__text a:hover, .subsite_card_simple__description a:hover, .subsite_head__description a:hover, .t-link-classic:hover, .ui-page-header a:hover, #notify .notify__item p a, .advice__caption a, .advice__list a, .andropov_telegram__text a, .andropov_tweet__text a, .block-warning a, .comments__item__text a, .company_description a, .content figcaption a, .content h2 a, .content h3 a, .content h4 a, .content ol a, .content p a, .content ul a, .form2__field--advanced_list .advanced_list__list .adv_list_item a, .island__container--with_links a, .island__info a, .island__list__link, .page--error .error__message a, .profile_comment_favorite__text a, .profile_comment_self__text a, .sitemap a, .subsite_about__text a, .subsite_card_simple__description a, .subsite_head__description a, .t-link-classic, .ui-page-header a, .quiz__panel__button, .quiz__item__voted__count, .ui-tab--active .ui-tab__label, .comments__subscribe--active, .ui-button, .etc_control:hover, #notify .notify__item, .etc_control--open, .comments_counter__count__value_new, .widget_wrapper--type-blue .widget_wrapper__title, .t-link:hover time, .navigationDropdown__current--active .navigationDropdown__current__button, .navigationDropdown__current:hover .navigationDropdown__current__button, .notify-new-items-label, .chat-form--compact .icon--send, .etc-controls__dropdownItem, .message__status--read, .ui_form input[type=email], .ui_form input[type=name], .ui_form input[type=password], .ui_form input[type=text], .ui_form select, .ui_form textarea, .input-suggestion input, .hashtags_list .ui-tab:hover .ui-tab__label, a:hover, .sidebar__tree-list__item__favourite:hover, .sidebar__tree-list__item__favourite--active, .dropdown_list__item--selected, .dropdown_list__item:hover, .live__item--comment .live__item__date:hover, .live__item--comment .live__item__date:hover time, .live__item--comment .live__item__title:hover, .live__item--comment .live__item__title:hover time, .profile_comment_favorite__title:hover, .profile_comment_favorite__title:hover time, .profile_comment_favorite__user:hover, .profile_comment_favorite__user:hover time, .profile_comment_self__title:hover, .profile_comment_self__title:hover time, .t-link:hover, .t-link:hover time, .vote .vote__users__item:hover, .vote .vote__users__item:hover time, a.content-header-author:hover, a.content-header-author:hover time, a.content-header-number:hover, a.content-header-number:hover time, .comments_counter:hover .comments_counter__count__unit, .comments_counter:hover .comments_counter__count__value, .comments_counter:hover .comments_counter__count__value_new, .comments__item__reply:hover, .herzen .content_editable ce-command, .restriction a, .subsite__cover__add__button:hover, .andropov_telegram__text__more:hover, .andropov_tweet__text__more:hover, .island__list--type_5 .island__list__item a:hover, .island__list--type_5 .island__list__item a:hover .island__list__count, .subsites_tune__select-all:hover, .t-link-inline:hover, .new_entries, .table__row--footer:hover, .list-editable__item__remove, .content-editorial-tick, .sidebar__footer__item--sponsor span, .ce-block-indicator--active, .editor .ce-redactor a, .miniEditor .ce-redactor a, .small-editor .ce-redactor a, .page--plus .plus-features__item .icon, .subsite_head__qr:hover, .floating_screen_film__control:hover, .subsites_catalog__open_wrapped:hover, .shares--desktop .shares__close, .shares--desktop .shares__open, .audit_log__item__log a:hover, .ui_toggle:hover, .email_subscribe_vue__form__button:hover, .v-ui-checkbox input, .profile_comment_favorite__expand:hover, .andropov_telegram__date:hover time, .andropov_telegram__user:hover .andropov_telegram__user__name, .andropov_telegram__user:hover .andropov_tweet__user__name, .andropov_telegram__user:hover .andropov_tweet__user__nickname, .andropov_tweet__date:hover time, .andropov_tweet__user:hover .andropov_telegram__user__name, .andropov_tweet__user:hover .andropov_tweet__user__name, .andropov_tweet__user:hover .andropov_tweet__user__nickname, .updown__icons, .comments__item__expand, .comments__item__more--inner, .push_offer__button, .push_offer__close:hover, .audio_player__control div:hover svg, .audio_player__control__rate[data-current="0"]:hover, .audio_player__control__volume:hover, .floating_player__close:hover, .with-icon-gray:hover, .audio_player__control--download:hover, .content-header-author__repost, .content-header-label,.adviser__close, .adviser__show-next, .adviser__close:hover, .adviser__show-next:hover, .message__content-name, .channel-item__name,.rolled-up-text__label, .videoStratum__control:hover, .sidebar__footer__item .icon, .email_subscribe_vue__before, .email_subscribe_vue__done, .email_subscribe_vue__before .icon, .island--blogs_entries .blogs_entries__desc a:hover, .attachButton, .ui-limited-input::after, .ui_modal_window--get_api_token .ui_modal_window__content input, .item--selected .item__badge, .item--focused .item__badge, .item:hover .item__badge, .tab__label, .select__current:hover, .cdx-plugin-external-settings__item--active, .cdx-plugin-settings__item--active, .media-tool-settings__item .icon, .audio-tool-cover, .audio-tool-uploader:hover, .hljs-string, .block-number, .audio_player__control__rate, .hljs-number, .emoji-picker__tabs, .emoji-picker__panel-list-section-name, .etc-controls__dropdownIcon, .chat-form__send svg, .chat-messages__unread-label span, .ui-tab:hover, .main_menu__auth__login:hover, .auth-form__main, .auth-form__help:hover, .ui_form input[type="submit"], .popup__container__window--close-inside .popup__container__window__close:hover, .yap-button, .yap-inventory__toggle, .entry_stub__button, .comments__item__more--root, .comments__item__more--root--5, .ui-button--5, .v-form-input input, .donate-display, .donate-attachment__sum, .v-create-button__select .icon--ui_arrow_down, .tg-header__details-item--current, .tg-header__type-switcher--current, .tg-chart--line .tg-grid__counter, .v-button, .v-tabs-navigation, .v-list-tab--active, .v-list-tab:hover, .v-list-subsites__more, .user, .b:hover, .b--submit, .search__button:hover, .add-members, .v-split-button__select, .sidebar-tree-list-item:hover, .sidebar-tree-list-item:hover svg, .sidebar-tree-list-item--active svg, .sidebar-tree-list-item__icon, .subsite-details
    {
    color: #f90 !important;
}
a:hover, .u-notification__content__button:hover, .andropov_telegram__text__more:hover, .andropov_tweet__text__more:hover, .island__list--type_5 .island__list__item a:hover, .island__list--type_5 .island__list__item a:hover .island__list__count, .subsites_tune__select-all:hover, .t-link-inline:hover, .new_entries:hover span, .comments__item__expand:hover, .comments__item__more--inner:hover, .adviser__close:hover, .adviser__show-next:hover, .tab__label:hover, .v-list-subsites__more:hover{
    text-decoration: underline;
}
.live__item__content:hover, .main_menu__write-button:hover, .andropov_link, .sidebar__tree-list__item:hover, .sidebar__footer__item--sponsor span:hover, .ui-tab:hover .ui-tab__counter, .widget_comment__content, .ui-button:hover, .vacancies_widget__new, .plus-badge:hover, .subsite_card_short_with_content__content{
    text-decoration: none !important;
}
.sidebar__tree-list__item__badge, .u-notification__avatar-icon, .dropdown_list__item__badge, .comments_updates__counter, .new_entries__counter, .subsite_settings .paid_account__number, .ui-tab__counter--notify, .plus-badge, .plus-badge:hover, .ui_preloader .ui_preloader__dot, .item--selected, .item--focused, .item:hover, .item__badge, .cdx-inline-toolbar__link-back:hover, .item:hover .item__date, .channel-item__unread-count, .comments__item__self--author .comments__item__user__name .user_name, .ui_form input[type=submit]:hover, .yap-inventory__hint, .ui-rounded-button--active .ui-rounded-button__link, .ui-rounded-button:hover .ui-rounded-button__link, .v-button:hover{
    color: #000 !important;
}

.main_menu__write-button, .messenger-panel__down-head, .messenger-panel .channel-item__info, .messenger-panel__down-footer, .sidebar, .live, .head-notifies__header, .u-notification--border, .u-notification--border:first-of-type, .ui-border--bottom, .ui-border--top, .ui_sub_menu--bordered, .ui_sub_menu--bordered:before, .vote .vote__users, .vote .vote__users .icon, .head-notifies__footer, .herzen__command_list__item, .etc-controls__dropdown, .chat-form, .aside, .channel-item__info, .channel-item--current .channel-item__online, .ui_form input[type=email], .ui_form input[type=name], .ui_form input[type=password], .ui_form input[type=text], .ui_form select, .ui_form textarea, .input-suggestion input, .ui_select, .ui_select select, .subsite_settings__section, .editor__header-menu, .form-text-input, .input, .ce-toolbar__tools, .ce-toolbar__tools-search, .cdx-input, html body .ce-redactor a.andropov_link, .andropov_preview, .subsite_card_short_with_content, .subsites_catalog__search, .subsites_catalog__label--bordered, .email_subscribe_vue__form, .page--vacancies .layout--bg, .v-ui-checkbox, .company_card, .andropov_telegram, .andropov_tweet, .subsite_card_short_with_content__content, .push_offer__content, .content-header-note, .block-audio, .floating_player, .adviser__container, .adviser__toggler, .form2__inline-editor, .gallery-image--with-border .gallery-image__media img, .gallery-image--with-border .gallery-image__media video, .code-tool, .form-text-input, .quiz-tool-input, .block-code, .form-text-input, .input-text input, .article-75846__table table, .form-text-input, .input-select, .input-select__options, .authorCard, .reposters_list, .v-table__row:not(:last-child), .chat-info__bottom{
    border-color:#222 !important;
}
.vote--comment .vote__users{
    border: 1px solid #222 !important;
}
.adviser__container::after{
    border-bottom-color: #222 !important;
    border-right-color: #222 !important;
}
.main_menu__write-button:hover, .andropov_link:hover, .quiz__item__check, .subscribers_widget__subscriber, .ui-button:hover, .vacancies_widget__new, .ui-checkbox, .ui-checkbox--checked::before, .list-editable__item__remove, .page--plus .plus-avatar, .v-ui-checkbox:hover, .v-ui-checkbox--checked:before, .push_offer__button, .comments__item__collapse_subtree:hover,.rolled-up-text__label, .daily-promo-unit__button, .ui_modal_window__footer, .ui_modal_window__header--border, .ce-settings_plugin, .audio-tool-cover, .audio-tool-title, .audio-tool-uploader, .tab__content, .message__content-reply, .social-auth__button, .yap-inventory__block-container, .creation_button, .creation_button:hover, .v-form-input input, .tg-header__details-item, .tg-header__type-switcher, .special-career-week
    {
    border-color:#f90 !important;
}
.ui-button, .attachButton, .ui-limited-input::after, .audio-tool-uploader--selected, .block-special-button a, .ui_form input[type="submit"], .yap-button, .v-create-button__dropdown{
    border: 1px solid #f90 !important;
}
.search__input{
    border-radius: 0px;
}
.head-notifies--showed .head-notifies__toggler::after{
    border-bottom: 7px solid #101010;
}
#notify .notify__item p a:hover, .advice__caption a:hover, .advice__list a:hover, .andropov_telegram__text a:hover, .andropov_tweet__text a:hover, .block-warning a:hover, .comments__item__text a:hover, .company_description a:hover, .content figcaption a:hover, .content h2 a:hover, .content h3 a:hover, .content h4 a:hover, .content ol a:hover, .content p a:hover, .content ul a:hover, .form2__field--advanced_list .advanced_list__list .adv_list_item a:hover, .island__container--with_links a:hover, .island__info a:hover, .island__list__link:hover, .page--error .error__message a:hover, .profile_comment_favorite__text a:hover, .profile_comment_self__text a:hover, .sitemap a:hover, .subsite_about__text a:hover, .subsite_card_simple__description a:hover, .subsite_head__description a:hover, .t-link-classic:hover, .ui-page-header a:hover, #notify .notify__item p a, .advice__caption a, .advice__list a, .andropov_telegram__text a, .andropov_tweet__text a, .block-warning a, .comments__item__text a, .company_description a, .content figcaption a, .content h2 a, .content h3 a, .content h4 a, .content ol a, .content p a, .content ul a, .form2__field--advanced_list .advanced_list__list .adv_list_item a, .island__container--with_links a, .island__info a, .island__list__link, .page--error .error__message a, .profile_comment_favorite__text a, .profile_comment_self__text a, .sitemap a, .subsite_about__text a, .subsite_card_simple__description a, .subsite_head__description a, .t-link-classic, .ui-page-header a, .quiz__panel__button__label, .comments__item__more--root--4:after, .ui-button--4:after, .editor .ce-redactor a, .miniEditor .ce-redactor a, .small-editor .ce-redactor a, .vacancy_header__a, .profile_comment_favorite__expand, .v-dummy__text a, .donate-cabinet-header a{
    border: none !important;
}
.etc-controls__dropdown, .ce-toolbar__tools, .attacher__form{
    box-shadow: none !important;
}

.head-notifies--showed .head-notifies__toggler .icon, .head-notifies__toggler:hover .icon, .comments_counter--has_new .comments_counter__count__ico svg, .comments_counter--has_new .comments_counter__count__value_new svg, .comments_updates, .comments_counter:hover .comments_counter__count__ico svg, .ui_modal_window__close:hover .icon, .cdx-plugin-settings__item svg, .etc-controls__dropdownIcon .icon svg g, #ui_twitch path, .v-list-tab--active svg, .v-list-tab:hover svg, .aside__header-button svg g path, .new-entries-horizon svg path:nth-of-type(1), #ui_briefcase, #ui_diamond path
    {
    fill: #f90 !important;
}
.new-entries-horizon svg path:nth-of-type(6){
    stroke: #000 !important;
}
.new-entries-horizon svg path:nth-of-type(4){
    stroke: #f90 !important;
}
.v-list-tab svg, .chat__header-back .icon g path{
    fill: #cacaca;
}

.vote .vote__users .icon, .vote .vote__users--overflowed .vote__users__content_wrapper:after, .main_menu #qr-btn, #qr-cmnt-btn, .reposters_list .icon, .reposters_list--overflowed:after{
    filter: invert(84%);
}
.icon--updates_arrows, .icon--toggle-down, .icon--maximize, .icon--writing-typograph, .cdx-icon--settings, .ce-toolbar__plus, .ce-toolbar__tools-item-icon, .cdx-icon--cover, .ce-settings__anchor-hash, .cdx-icon--remove-block, .cdx-icon--arrow-up, .cdx-icon--arrow-down, .etc-controls__dropdownIcon, .layout--editor #qr-btn, .layout--editor #reply-btn, .main_menu #qr-btn:hover, .thesis__attach_something #reply-btn, #qr-cmnt-btn:hover, #reply-btn, .v-create-button-option__icon, #qr-btn
    {
    filter: invert(59%) sepia(70%) saturate(1930%) hue-rotate(359deg) brightness(102%) contrast(107%);
}
.approved_user
    {
    filter: invert(59%) sepia(70%) saturate(1930%) hue-rotate(359deg) brightness(102%) contrast(77%);
}
.ui-tabs--overflown:after{
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 0,#101010 40%)
}
.ui-tabs--overflown:before{
    background-image: linear-gradient(-90deg,rgba(255,255,255,0) 0,#101010 40%);
}
.yap-inventory__block-bd::before, .yap-inventory__block-bd::after{
    filter: invert(59%) sepia(70%) saturate(830%) hue-rotate(359deg) brightness(102%) contrast(77%);
}
.possession_triangle:after{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #cacaca;
}
.sidebar__footer__item--sponsor span{
    background: none !important;
    -webkit-text-fill-color: inherit !important;
}
.text_loop__grd--l{
    background-image: linear-gradient(to right,#101010,rgba(255,255,255,0));
}
.text_loop__grd--r{
    background-image: linear-gradient(to left,#101010,rgba(255,255,255,0));
}
.videoStratum:hover, .emoji-picker__panel-list-section-name{
    box-shadow: 0 0 5px rgba(255, 153, 0, .25) !important;
}
.ce-settings:before, .ce-settings:after{
    border-color: transparent transparent #1b1b1b !important;
}

/* complex settings */
@media (min-width: 842px){
.live__item--notification-comment_voted-positive, .vote--comment .vote--positive .vote__value, .vote--comment.vote--sum-positive .vote__value{
    background-color:#002f0d;
    color:#cacaca;
}
.live__item--notification-comment_voted-negative, .vote--comment.vote--negative .vote__value, .vote--comment.vote--sum-negative .vote__value{
    background-color:#562f2f;
    color:#cacaca;
}
}
.vote__button--plus:hover .vote__button__action{
	color: #002f0d !important;
}
.vote .vote__users__item--plus{
    color: #07a23b !important;
}
.vote .vote__users__item--minus{
    color: #cd192e !important;
}
.vote__button--minus:hover .vote__button__action{
	color: #562f2f !important;
}

.ui-button[data-name="cancel"]{
    height: 34px;
    margin-right: 5px;
}

::-webkit-scrollbar{
	width:12px;
	background-color:#292929;
}
::-webkit-scrollbar:horizontal{
	height:12px;
}
::-webkit-scrollbar-track{
	border:1px #292929 solid;
	border-radius:0px;
	-webkit-box-shadow:0 0 6px #292929 inset;
}
::-webkit-scrollbar-thumb{
	background-color:#000000;
	border:1px solid #000000;
	border-radius:0px;
}
::-webkit-scrollbar-thumb:hover{
	background-color:#bfbfbf;
	border:1px solid #bfbfbf;
}
::-webkit-scrollbar-thumb:active{
	background-color:#bfbfbf;
    border:1px solid #bfbfbf;
}
::-webkit-scrollbar-corner{
    background-color:#292929;
}

.main_menu__logo, .site-header__item--logo a{
    width: 142px;
    background: url(https://leonardo.osnova.io/04326baf-7d08-e1df-14b2-d29528ba17ed/-/preview/150x50/center/) no-repeat;
    background-position: cover;
}
.main_menu__logo svg, .site-header__item--logo svg{
    color: transparent;
}
}

@-moz-document domain("instagram.com") {
/*время сломать всё к хуям*/
html[stylus-iframe*="dtf.ru"] body,html[stylus-iframe*="dtf.ru"] .PrimaryCTA, html[stylus-iframe*="dtf.ru"] .HoverCard .HoverCardRoot, html[stylus-iframe*="dtf.ru"] .HoverCardUserName .Username{
    background: #000 !important;
    color: #bfbfbf !important;
}
html[stylus-iframe*="dtf.ru"] body a{
    color: var(--dtf_main);
}
html[stylus-iframe*="dtf.ru"] #react-root, html[stylus-iframe*="dtf.ru"] article, html[stylus-iframe*="dtf.ru"] div, html[stylus-iframe*="dtf.ru"] footer, html[stylus-iframe*="dtf.ru"] header, html[stylus-iframe*="dtf.ru"] main, html[stylus-iframe*="dtf.ru"] nav, html[stylus-iframe*="dtf.ru"] section{
    border-color: var(--dtf_main);
}
html[stylus-iframe*="dtf.ru"] a.ViewProfileButton, html[stylus-iframe*="dtf.ru"] a.FollowButton{
    background-color: var(--dtf_main);
    color: #000 !important;
}

:root {
    --dtf_main: #f90;
    --dtf_sec: #c9e7f2;
}
}
@-moz-document domain("tiktok.com") {
/*время сломать всё к хуям ещё сильней*/
html[stylus-iframe*="dtf.ru"] body, html[stylus-iframe*="dtf.ru"] .main-body{
    background: #000 !important;
    color: #bfbfbf !important;
}
html[stylus-iframe*="dtf.ru"] ._embed_video_card-info a{
    color: var(--dtf_sec);
}
html[stylus-iframe*="dtf.ru"] div{
    border-color: var(--dtf_main);
}

html[stylus-iframe*="dtf.ru"] ._embed_video_button-link{
    background-color: #000 !important;
}
html[stylus-iframe*="dtf.ru"] ._embed_video_button-link:hover{
    color: #000 !important;
}
html[stylus-iframe*="dtf.ru"] ._embed_video_button-link{
    color: var(--dtf_main);
    border: 1px solid var(--dtf_main); 
}
html[stylus-iframe*="dtf.ru"] ._embed_video_button-link:hover{
    background-color: var(--dtf_main) !important;
}

:root {
    --dtf_main: #f90;
    --dtf_sec: #c9e7f2;
}
}